SERVER_HOST=0.0.0.0
SERVER_EXTERNAL_PORT=8080
SERVER_INTERNAL_PORT=8080

DB_NAME=gophprofile
DB_USER=gp_user
DB_PASSWORD=12345
DB_HOST=gp-db
DB_EXTERNAL_PORT=7432
DB_INTERNAL_PORT=5432
SSL_MODE=disable

AWS_REGION=us-east-1
AWS_ACCESS_KEY=minioadmin
AWS_SECRET_KEY=minioadmin
DISABLE_SSL=true
BUCKET_NAME=gophprofile
MINIO_HOST=minio-server
MINIO_EXTERNAL_PORT=9000
MINIO_INTERNAL_PORT=9000
MINIO_UI_EXTERNAL_PORT=9001
MINIO_UI_INTERNAL_PORT=9001

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_HOST=rabbitmq
RABBITMQ_EXTERNAL_PORT=5672
RABBITMQ_INTERNAL_PORT=5672
RABBITMQ_UI_EXTERNAL_PORT=15672
RABBITMQ_UI_INTERNAL_PORT=15672

OTEL_COLLECTOR_GRPC_EXTERNAL_PORT=4317
OTEL_COLLECTOR_GRPC_INTERNAL_PORT=4317

OTEL_COLLECTOR_HTTP_EXTERNAL_PORT=4318
OTEL_COLLECTOR_HTTP_INTERNAL_PORT=4318

PROMETHEUS_EXPORTER_EXTERNAL_PORT=8889
PROMETHEUS_EXPORTER_INTERNAL_PORT=8889

LOKI_EXTERNAL_PORT=3100
LOKI_INTERNAL_PORT=3100

GRAFANA_EXTERNAL_PORT=3000
GRAFANA_INTERNAL_PORT=3000

PROMETHEUS_EXTERNAL_PORT=9090
PROMETHEUS_INTERNAL_PORT=9090

NODE_EXPORTER_EXTERNAL_PORT=9100
NODE_EXPORTER_INTERNAL_PORT=9100

JAEGER_EXTERNAL_PORT=16686
JAEGER_INTERNAL_PORT=16686